        /*---------Reglas por defecto------------*/
        
        html {
            scroll-behavior: smooth;
        }
        
        * {
            box-sizing: border-box;
            /* https://fonts.google.com */
            font-family: 'Quicksand', sans-serif;
        }
        
        body {
            margin: 0px;
        }
        /*----------Clear floats after the columns----------*/
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /*-------------COLOR PÁGINA WEB ENTERA-----------------*/
        
        .box {
            background-color: #3EECAC;
            background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
        }
        /*-------------NAVEGADOR-----------------*/
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
        }
        
        li {
            float: right;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: rgb(255, 255, 255);
            color: black;
        }
        /*------------------------------REGLAS COLUMNAS------------------------*/
        
        .column-1 {
            width: 100%;
            float: left;
        }
        
        .column-2 {
            width: 50%;
            float: left;
        }
        
        .column-3 {
            width: 33.33%;
            float: left;
        }
        
        .column-4 {
            width: 25%;
            float: left;
        }
        /*------------------------HEADER---------------------------*/
        
        #header {
            background-image: url(./../img/paisaje.png);
            color: white;
            padding-top: 25vw;
            padding-bottom: 25vw;
            text-align: center;
        }
        /*------------------------SECTION-1---------------------------*/
        
        #section-1 {
            margin: 20px;
        }
        
        #section-1 p {
            font-size: 20px;
            text-align: justify;
        }
        /*------------------------SECTION-2---------------------------*/
        
        #Section-2 {
            margin: 20px;
            font-size: 20px;
        }
        
        .IMG-2 img {
            width: 40%;
            padding-top: 3%;
        }
        
        .IMG-1 img {
            width: 60%;
            padding-top: 5%;
        }
        /*------------------------SECTION-3---------------------------*/
        
        #section-3 {
            margin: 20px;
            font-size: 20px;
        }
        
        #section-3 img {
            width: 40%;
        }
        /*------------------------PIE DE PÁGINA---------------------------*/
        
        #footer {
            margin: 20px;
        }
        /*------------------------ICONOS---------------------------*/
        
        #icons-header a {
            padding: 15px;
        }
        /*-------------------ESTILOS CAJAS/COLOR SECCIONES----------------------*/
        
        .color {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
        
        .estilo-caja {
            box-shadow: 10px 10px rgba(0, 0, 0, 0.589);
        }
        /*------------------VIDEO DE YOUTUBE-------------------*/
        
        #section-1 iframe {
            height: 40.4vh;
        }
        
        #Section-2 iframe {
            height: 25.7vh;
        }
        /*------------------REGLAS AUXILIARES-------------------*/
        
        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .relleno-auxiliar {
            padding-bottom: 1%;
            padding-top: 1%;
        }
        
        .relleno-lados {
            padding-left: 2%;
            padding-right: 2%;
        }
        
        .lat {
            padding-left: 2%;
        }
        
        @media screen and (max-width: 700px) {
            /*--------------CABEZERA ---------------*/
            #header {
                padding-top: 60vw;
                padding-bottom: 60vw;
            }
            /*-------------- SECCIÓN-1 ---------------*/
            #section-1 p {
                font-size: 14px;
                text-align: justify;
            }
            /*------------------------ICONOS---------------------------*/
            #icons-header a {
                padding: 15px;
            }
            /*------------------------SECTION-2---------------------------*/
            #Section-2 {
                margin: 20px;
                font-size: 20px;
            }
            .IMG-2 img {
                width: 70%;
                padding-bottom: 15%;
            }
            .IMG-1 img {
                width: 80%;
                padding-bottom: 15%;
            }
            .lat {
                padding-top: 3%;
            }
            #section-2 iframe {
                padding-top: 15px;
            }
            /*--------------REGLA COLUMNAS ---------------*/
            .column-2 {
                width: 100%;
            }
            .column-3 {
                width: 100%;
            }
            /*------------------REGLAS AUXILIARES-------------------*/
            .flex {
                display: block;
            }
            .ctr {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .lat {
                padding-left: 0;
                padding-top: 5%
            }
        }